// app global css in SCSS form
body, html {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}
