$primary   : #FFFFFF;
$secondary : #0A1D3F;
$accent    : #E2372D;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #E2372D;
$info      : #31CCEC;
$warning   : #F2C037;


$card-bg   : #F0F4F8;
$forecolor1 : #475569;
$forecolor2 : white;
$card-bar : #E2372D;
$selected-list-item: #F8FAFC;
$bg-color: #F0F4F8